name: C Build & Test (Windows)

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install GCC
        run: choco install mingw -y

      - name: Add GCC to PATH
        run: setx PATH "%PATH%;C:\tools\mingw64\bin"

      - name: Build C project
        run: |
          mkdir build
          gcc -Wall -Werror -o build\my_program *.c

      - name: Run tests
        run: build\my_program --test
